<!-- if debug set to true, context info always print  
 otherwise the contex info will print when error occour -->  
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="APP_NAME" value="doppler-web" />
	<property name="LOG_ROOT_PATH" value="/mnt/logs" />

    <!-- 控制台 start-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </layout>
    </appender>
    <!-- 控制台 end-->
	 <!-- 业务日志文件 start-->
	<appender name="busLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   	<fileNamePattern>${LOG_ROOT_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
	   	<maxHistory>30</maxHistory>   
	   	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	   		<maxFileSize>10MB</maxFileSize>
	   	</timeBasedFileNamingAndTriggeringPolicy>
	  </rollingPolicy>   
	  <encoder>   
	   	<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>  
	   	<charset>UTF-8</charset>  
	  </encoder>   
	 </appender>
    <!-- 业务日志文件 end-->
    <!-- 默认配置 -->
    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="busLog" />
    </root>
    <!-- 打印SQL语句  -->
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.CallableStatement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />



    <!-- dubbo框架日志 start-->
	<appender name="dubboLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/dubbo/${APP_NAME}_dubbo.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %msg%n</pattern>
		</layout>
	</appender>
    <logger name="com.alibaba.dubbo" level="DEBUG"  additivity="false">
        <appender-ref ref="dubboLogfile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="com.jd.bdp" level="DEBUG"  additivity="false">
        <appender-ref ref="dubboLogfile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="com.sinoservices.trace" level="DEBUG" additivity="false">
        <appender-ref ref="dubboLogfile" />
        <appender-ref ref="stdout" />
    </logger>
	<!-- dubbo框架日志 end-->

	<!-- metrics日志 start-->
	<appender name="metricsLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/metrics/${APP_NAME}_metrics.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %msg%n</pattern>
		</layout>
	</appender>
    <logger name="metrics" level="info"  additivity="false">
        <appender-ref ref="metricsLogfile" />
        <appender-ref ref="stdout" />
    </logger>
	<!-- metrics日志 end-->
</configuration>  